n8n-workflows/deployment-notification.json
{
  "name": "Deployment Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "staging-deployment",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook - Staging Deployment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "staging-deployment-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "production-deployment",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook - Production Deployment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "production-deployment-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "name": "Check Status - Staging",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "name": "Check Status - Production",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "url": "https://api.whatsapp.com/send",
        "options": {
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "phone",
                "value": "553399898026"
              },
              {
                "name": "text",
                "value": "✅ Deployment SUCCESS\\n\\nEnvironment: {{$json[\"environment\"]}}\\nCommit: {{$json[\"commit\"]}}\\nActor: {{$json[\"actor\"]}}\\nTimestamp: {{$json[\"timestamp\"]}}"
              }
            ]
          }
        }
      },
      "name": "WhatsApp Success Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 250]
    },
    {
      "parameters": {
        "url": "https://api.whatsapp.com/send",
        "options": {
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "phone",
                "value": "553399898026"
              },
              {
                "name": "text",
                "value": "⚠️ Deployment FAILED\\n\\nEnvironment: {{$json[\"environment\"]}}\\nCommit: {{$json[\"commit\"]}}\\nActor: {{$json[\"actor\"]}}\\nError: {{$json[\"error\"]}}\\n\\nAction Required: Check logs immediately"
              }
            ]
          }
        }
      },
      "name": "WhatsApp Failure Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 450]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}/api/health-check",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Health Check After Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 250]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO deployment_log (environment, status, commit, actor, timestamp) VALUES ('{{$json[\"environment\"]}}', '{{$json[\"status\"]}}', '{{$json[\"commit\"]}}', '{{$json[\"actor\"]}}', '{{$json[\"timestamp\"]}}')"
      },
      "name": "Log Deployment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook - Staging Deployment": {
      "main": [
        [
          {
            "node": "Check Status - Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Production Deployment": {
      "main": [
        [
          {
            "node": "Check Status - Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status - Staging": {
      "main": [
        [
          {
            "node": "WhatsApp Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failure Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status - Production": {
      "main": [
        [
          {
            "node": "WhatsApp Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failure Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Success Notification": {
      "main": [
        [
          {
            "node": "Health Check After Deployment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failure Notification": {
      "main": [
        [
          {
            "node": "Log Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-17T00:00:00.000Z",
  "versionId": "1"
}
